{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Campus{% endblock %}

{% block body %}
<div class="bg-white p-6 rounded-lg shadow-lg mb-8 ">
    <div class="bg-white p-6 rounded-lg shadow-lg mb-8">

    <form action="{{ path('app_campus_index') }}" method="POST" class="space-y-4">
        <div>
            <label for="word">Le nom contient </label>
            <input id="word" name="word" type="text" class="border border-orange-500">
        </div>
        <button class="bg-amber-500" type="submit" >Rechercher</button>
    </form>
    <div>
        <h2>Résultat(s) de la recherche</h2>
        {% if word %}<p>Nom contient: {{ word }}</p>{% endif %}

    </div>
    </div>

    <div class="bg-white border rounded-lg shadow-lg">
    <table class="min-w-full">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Gérer</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>
                    <a href="{{ path('app_campus_show', {'id': campus.id}) }}"><img style="max-height: 30px" src="{{ asset('images/icone-afficher.webp') }}" alt="Afficher"></a>
                </td>
                <td>{{ campus.name }}</td>
                <td>
                    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}"><img style="max-height: 30px" src="{{ asset('images/icone-modifier.png') }}" alt="Modifier"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun site trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('app_campus_new') }}"><img style="max-height: 5vh" src="{{ asset('images/icon-ajouter.webp') }}" alt="Ajouter campus"></a>

    </div>
</div>
{% endblock %}
