{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="addPlace">Ajouter lieu</button>
    <button class="btn">{{ button_label|default('Enregister') }}</button>
    {% if not activity.id %}
        <input type="submit" formaction="{{ path('app_activity_create', {'autoPublish' : 'true'}) }}" value="Publier">
    {%  endif %}
{{ form_end(form) }}
