{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h1>Activity</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom de la sortie : </th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>Date et l'heure de la sortie : </th>
                <td>{{ activity.startingDate ? activity.startingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ activity.registrationLimitDate ? activity.registrationLimitDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places : </th>
                <td>{{ activity.registrationMaxNb }}</td>
            </tr>
            <tr>
                <th>Durée : </th>
                <td>{{ activity.durationHours }}</td>
            </tr>


            <tr>
                <th>Description et infos : </th>
                <td>{{ activity.description }}</td>
            </tr>

            <tr>
                <th>Lieu: </th>
                <td>{{ activity.place.name }}</td>
            </tr>

            <tr>
                <th>Rue : </th>
                <td>{{ activity.place.street }}</td>
            </tr>

            <tr>
                <th>Ville : </th>
                <td>{{ activity.place.city.name }}</td>
            </tr>

            <tr>
                <th>Code postal :</th>
                <td>{{ activity.place.city.postcode}}</td>
            </tr>

            <tr>
                <th>Latitude :</th>
                <td>{{ activity.place.latitude }}</td>
            </tr>

            <tr>
                <th>Longitude :</th>
                <td>{{ activity.place.longitude }}</td>
            </tr>

        </tbody>
    </table>

    <h2>Liste des participants inscrits</h2>

    <table>
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>

            {% for registration in activity.registrations %}
                <tr>
                <td>{{ registration.user.pseudo }} </td>
                <td>{{ registration.user.firstName }}</td>
                </tr>
            {% endfor %}




        </tbody>

    </table>

    <a href="{{ path('app_activity_list') }}">back to list</a>

    <a href="{{ path('app_activity_update', {'id': activity.id}) }}">edit</a>

    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
