{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h1>Activity</h1>

    {% if activity.getPhotoUrl() %}
        <p>
            <img src="{{ activity.photoUrl }}" alt="profile picture" style="max-width: 30vw">
        </p>
    {% endif %}

    <table class="table">
        <tbody>

            <tr>
                <th>Nom de la sortie : </th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ activity.state.nameFr }}</td>
            </tr>
            <tr>
                <th>Date et l'heure de la sortie : </th>
                <td>{{ activity.startingDate ? activity.startingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ activity.registrationLimitDate ? activity.registrationLimitDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places : </th>
                <td>{{ activity.registrationMaxNb }}</td>
            </tr>
            <tr>
                <th>Durée [heures] : </th>
                <td>{%  if activity.durationHours %}
                        {{ activity.durationHours }}
                    {% else %}
                        <i>Non renseignée</i>
                    {% endif %}
                </td>
            </tr>


            <tr>
                <th>Description et infos : </th>
                <td>{{ activity.description }}</td>
            </tr>

            <tr>
                <th>Lieu: </th>
                <td>{{ activity.place.name }}</td>
            </tr>

            <tr>
                <th>Rue : </th>
                <td>{{ activity.place.street }}</td>
            </tr>

            <tr>
                <th>Ville : </th>
                <td>{{ activity.place.city.name }}</td>
            </tr>

            <tr>
                <th>Code postal :</th>
                <td>{{ activity.place.city.postcode}}</td>
            </tr>

            <tr>
                <th>Latitude :</th>
                <td>{{ activity.place.latitude }}</td>
            </tr>

            <tr>
                <th>Longitude :</th>
                <td>{{ activity.place.longitude }}</td>
            </tr>

        </tbody>
    </table>

    <h2>Liste des participants inscrits</h2>

    <table>
        <thead>
        <tr>
            <th></th>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>

            {% for registration in activity.registrations %}
                <tr>
                    <td><a href="{{ path('app_user_profile', {'id': registration.user.id}) }}"><img style="max-height: 30px" src="{{ asset('images/icone-afficher.webp') }}" alt="Afficher"></a></td>
                    <td>{{ registration.user.pseudo }} </td>
                    <td>{{ registration.user.firstName }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucune participant pour le moment !</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

    <a href="{{ path('app_activity_list') }}">Retour à la liste</a>

    {%  if activity.organizer.id == app.user.id %}
    <a href="{{ path('app_activity_update', {'id': activity.id}) }}">Modifier</a>
    {% endif %}

{% endblock %}
