{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Liste des sorties{% endblock %}

{% block body %}
    <h1>Sorties</h1>

    <div>bloc recherche</div>

    <div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Début</th>
                <th>Inscription jusqu'au</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.name }}</td>
                <td>{{ activity.startingDate ? activity.startingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity.registrationLimitDate ? activity.registrationLimitDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ 'TBD/' ~ activity.registrationMaxNb }}</td>
                <td>{{ activity.state.nameFr }}</td>
                <td>
                    {% for r in activity.registrations|filter(r=> r.user.id == app.user.id) %}
                        X
                    {% endfor %}
                </td>
                <td><a href="">{{ activity.organizer.pseudo }}</a></td>
                <td>
                    <a href="{{ path('app_activity_detail', {'id': activity.id}) }}"><img style="max-height: 30px" src="{{ asset('images/icone-afficher.webp') }}" alt="Afficher"></a>
                    <a href=""><img style="max-height: 30px" src="{{ asset('images/icone-publier.webp') }}" alt="Publier"></a>
                    <a href=""><img style="max-height: 30px" src="{{ asset('images/icone-s\'inscrire.png') }}" alt="S'inscrire"></a>
                    <a href=""><img style="max-height: 30px" src="{{ asset('images/icone-se-desister.png') }}" alt="Se désister"></a>
                    <a href="{{ path('app_activity_update', {'id': activity.id}) }}"><img style="max-height: 30px" src="{{ asset('images/icone-modifier.png') }}" alt="Modifier"></a>
                    <a href="{{ path('app_activity_cancel', {'id': activity.id}) }}"><img style="max-height: 30px" src="{{ asset('images/icone-annuler.jpg') }}" alt="Annuler"></a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div><a href="{{ path('app_activity_create') }}">Nouvelle sortie</a></div>

{% endblock %}
