{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Modifier sortie{% endblock %}

{% block body %}
    <h1>Modifier l'activité</h1>

    {{ include('activity/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_activity_list') }}">Retour à la liste</a>
    {% if activity.state.name=='draft' %}<a href="{{ path('app_activity_publish',{'id':activity.id}) }}">Publier</a>{% endif %}
    {% if activity.state.name !='done' %}<a href="{{ path('app_activity_cancel',{'id':activity.id}) }}">Supprimer</a>{% endif %}
{% endblock %}
