{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    {% if user.getProfileImage() == 'defaultProfilePicture.jpg' %}
        <p>
            <img src="{{ asset('images/defaultProfilePicture.jpg') }}" alt="default profile picture">
        </p>
    {% else %}
        <p>
            <img src="/profile/images/{{ user.profileImage }}" alt="profile picture">
        </p>
    {% endif %}

    <table class="table">
        <tbody>

            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ user.campus.name }}</td>
            </tr>
        </tbody>
    </table>

    {% if  user.id == app.user.id%}
    <a href="{{ path('app_user_edit') }}">Modifier</a>
    {% endif %}

{% endblock %}


